.container {
    text-align: center;
    height: 150vh;
    background-color: azure;
}

.container div {
    background-color: wheat;
    padding: 20px;
    margin-top: 3px;
    text-shadow: 2rem;
    color: black;
    font-weight: bold;
    width: 200px;
}

.container div:nth-child(3) {
    position: relative;
    top: 60px;
    left: 350px;


}

.container div:nth-child(1) {
    position: fixed;
    top: 30px;
    left: 460px;
}

.child-of-3 {
    background-color: cadetblue;
    position: absolute;
    right: 90px;
    bottom: 90px;
}

.container div:nth-child(2) {
    position: sticky;
    top: 0px;
}